<a href="https://colab.research.google.com/github/YongXiangNian/CS2020B/blob/master/3_python%E6%B1%BA%E7%AD%96%E8%88%87%E9%81%B8%E6%93%87%E7%B5%90%E6%A7%8B_md.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a = 33
b = 200
 
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
 a = 33
b = 20
 
if b > a:
  print("b is greater than a")

In [ ]:
 a = 32
b = 33
 
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
 a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
 a = 35
b = 33
 
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
 a = 200
b = 33
 
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
 a = 200
b = 33
 
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
 year= eval(input("請輸入年"))
 
if ((year%400==0) or (year%4==0 and year%100!=0)):
  print("{0} 是閏年".format(year))
else:
  print("{0} 不是閏年".format(year))

請輸入年2018
2018 不是閏年

In [ ]:
 import time
 
date = time.localtime() 
print(date)

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=24, tm_hour=2, tm_min=46, tm_sec=5, tm_wday=3, tm_yday=268, tm_isdst=0)

In [ ]:
 year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2019,5,22

(2019, 5, 22)

In [ ]:
 import time
 
 
#date = time.localtime()        #取得目前的日期時間
#year = date[0]
#month = date[1]
#day = date[2]
 
year, month, day = eval(input("請輸入年月日::"))

請輸入年月日::2020, 9, 18

In [ ]:
 day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
year = 0
if year%400==0 or (year%4==0 and year%100!=0):  
  day_month[1] = 29

In [ ]:
 if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

262

In [ ]:
 money = int(input("請輸入購物金額："))
 
if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：100000
80000.0 元

In [ ]:
a='Hello  '
b='Python!'
 
print(a+b)
 
a*2
 
(a[1:4])
 
"H" in a
 
"H" not in a

Hello  Python!

False